:global html,
:global body,
:global #root {
  height: 100%;
  margin: 0;
}

:global #root {
  display: flex;
  flex-basis: 100%;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .content {
    flex-basis: calc(100% - 50px);
    margin-top: 50px;
    background-color: #aaa;
    padding: 15px;
  }
}
